body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    background-color: rgb(44, 103, 214);
}

table {
    border-radius: 5px;
}

th {
    background-color: black;
    color: white;
    border-bottom: 3px solid rgb(126, 124, 124);
    height: 75px;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    margin: 0px;
}

td {
    width: 300px;
    height: 75px;
    padding-left: 20px;
    margin: 0px;
}

td {
    border-bottom: 1px solid rgb(126, 124, 124);
}

th:first-of-type, td:first-of-type {
    border-right: 1px solid rgb(126, 124, 124);
}


tr:nth-of-type(even){
    background-color:rgb(197, 206, 214);
}

tr:nth-of-type(odd){
    background-color: white;
}

tr:last-of-type > td {
    border-bottom: 0;
}
