<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Species</th>
        <th>Index</th>
        <th>Good or Bad?</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="|${account.formattedBalance} Zebras|"></td>
        <td th:text="${account.animalType}"></td>
        <td th:text="${accountStat.count}"></td>
        <td th:if="${account.isGood}" th:text="|Good one|"></td>
        <td th:unless="${account.isGood}" th:text="|Bad Guy|"></td>
    </tr>
</table>
</body>
</html>