<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Todo app</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato" rel="stylesheet">


</head>
<body>

<header>
    <h1>TODO LIST:</h1>
    <label class="switch">
        <input type="checkbox" id="is-active-checkbox">
        <span class="slider round" id="is-active"></span>
    </label>
    <label class="switch">
        <input type="checkbox" id="is-important-checkbox">
        <span class="slider round" id="is-important"></span>
    </label>
</header>
<main>
    <form th:action="'/todo/saveTodo'" th:object="${todo}" method="post">
        <input type="text" th:field="*{title}" required="required" th:placeholder="'Add task...'">
        <button type="submit"><i class="fas fa-plus"></i></button>
    </form>
    <ul>
        <li th:each="todo : ${todos}">
            <span class="delete"><a th:href="${todo.id} + '/delete'"><i class="fas fa-trash-alt"></i></a></span>

            <span class="task" th:text="${todo.title}" th:classappend="${todo.done} ? done : ''">></span>

            <span class="important"><i
                    th:classappend="${todo.urgent && !todo.done} ? 'fas fa-exclamation-circle' : none"></i></span>
            <span class="edit"><a th:href="${todo.id} + '/edit'"><i class="fas fa-edit"></i></a></span>
        </li>
    </ul>
</main>
<script src="/script.js"></script>
</body>
</html>