<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My todos</title>

    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
<h1>TODO LIST:</h1>
<a th:href="@{add}">Add new todo?</a>
<table>
    <tr>
        <th>#</th>
        <th>Action</th>
        <th>Urgent?</th>
        <th>Done?</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td><a th:href="${todo.id} + '/delete'">Delete?</a></td>
        <td><a th:href="${todo.id} + '/edit'">Edit...</a></td>
    </tr>
</table>

</body>
</html>