<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="content">
    <ul>
        <li><a href="/information">Information</a></li>
    </ul>
    <img src="greenfox.png" alt="purple fox">
    <p>This is Michel Dugésier, living on coffee and psychedelics. He knows 2 tricks</p>
    <h1>Known Tricks</h1>
    <ul>
        <li>Change his fur color</li>
        <li>Cook vegan gluten free low carb burgers</li>
    </ul>
</div>

</body>
</html>