<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<main>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so that you can associate it with your pet!</p>
    <form action="">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <button type="submit">Go!</button>
    </form>
</main>

</body>
</html>