<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/useful/colored">Check out my background, it'll have a random color</a></li>
    <li><a href="/useful/email?email=patrik@isawesome.cz">Email validator</a></li>
    <li><a href="/useful/encode?text=example&num=5">Code "example" with key 5</a></li>
    <li><a href="/useful/decode?text=Dpohsbuvmbujpot-!zpv!efdpefe!uif!ufyu&num=1">Decode "Dpohsbuvmbujpot-!zpv!efdpefe!uif!ufyu" with the key
        1!</a></li>

</ul>

</body>
</html>